@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/* COMMON */
body {
    margin: 0;
    background-color: red;
    height: 100vh;
    width: 100vw;
}
.page {
    height: 100vh;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%), url('../images/anonymous-server-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
}





/* HEADER */
.page__header {
    text-align: right; 
    position: relative;
}

.nav-trigger {
    background:  rgba(0,0,0,0.50) url('../images/ico-menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    margin: 20px 20px 0 0;
    font-size: 0;
    outline: none;
}

.nav-trigger:hover {
    transform: rotate(225deg);   
}




/* MENU */
.nav {
    display: none;
    position: absolute;
    background-color: #402929;
    opacity: 0.92;
    height: 100vh;
    width: 100vw;
    top: 0;
    text-align: center;
    right: -400px;

}

.nav-in {
    transition: all 9s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
    right: 0px;
    display: flex;
    justify-content: center;

    
}



.nav-close {
    position: absolute;
    background: rgba(0,0,0,0.50) url('../images/ico-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    top: 20px;
    right: 20px;
    font-size: 0;
}

.nav-close:hover {
    transform: rotate(220deg);   
}

.nav__items {
    list-style: none;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 20px;
    padding: 0;
}

.nav__item {
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
}

.nav__item:last-child {
    margin: 0;
}

.nav__link {
    color: white;
    text-decoration: none;
}

.nav__link:hover {
    color: grey;
}





/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {
    margin: 244px 0 0 45px;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    text-transform: uppercase;
    color:white;
    width: 250px;
   
}




/* FOOTER */
.page__footer {
    display: flex;
    justify-content: center; 
    margin-top: 195px;
}

.page__footer-copy {
    width: 270px;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: grey;
    background:rgba(128,128,128,0.5);
}
