@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/* COMMON */
body {
    margin: 0;
    background-color: red;
    height: 100vh;
    width: 100vw;
}
.page {
    position: relative;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%), url('../images/anonymous-server-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* HEADER */
.page__header {
    text-align: right; 
    position: relative;
}

.nav-trigger {
    background:  rgba(0,0,0,0.50) url('../images/ico-menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 5px;
    margin: 20px 20px 0 0;
    font-size: 0;
    outline: none;
}

@media all and (min-width:768px) {
    .nav-trigger {
        height: 50px;
        width: 50px;
    }
}

.nav-trigger:hover {
    transform: rotate(225deg);   
}

/* MENU */
.nav {
    position: fixed;
    background-color: #402929;
    opacity: 0.92;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    right: -400px;
    transition: all 9s ease-in;
    -webkit-transition: all 9s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 9s ease-in-out; /** Firefox **/
    -o-transition: all 9s ease-in-out; /** Opera **/
}

@media all and (min-width:768px) {
    .nav {
        right: -800px;
    }
}

.nav-in {
    right: 0px;
}

@media all and (min-width:768px) {
    .nav-in {
        height: 100vh;   
    }
}


.nav-close {
    position: absolute;
    background: rgba(0,0,0,0.50) url('../images/ico-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 5px;
    top: 20px;
    right: 20px;
    font-size: 0;
}

@media all and (min-width:768px) {
    .nav-close {
        width: 50px;
        height: 50px;
    }
}

.nav-close:hover {
    transform: rotate(220deg);   
}

.nav__items {
    list-style: none;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 20px;
    padding: 0;
}

@media all and (min-width:768px) {
    .nav__items {
        font-size: 60px;
        margin: 0 60px 60px;
        max-width: 990px;
    }
}

.nav__item {
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
}

@media all and (min-width:768px) {
    .nav__item {
        width: 600px;
    }
}

.nav__item:last-child {
    margin: 0;
}

.nav__link {
    color: white;
    text-decoration: none;
}

.nav__link:hover {
    color: grey;
}


/* MAIN */
.page__main-title {
    margin: 244px 0 0 45px;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    text-transform: uppercase;
    color:white;
    width: 250px;
}

@media all and (min-width:768px) {
    .page__main-title {
        font-size: 60px;
        margin: 449px 0 286px 61px;
    }
}

/* FOOTER */
.page__footer {
    display: flex;
    justify-content: center; 
    margin-top: 195px;
}

@media all and (min-width:768px) {
    .page__footer {
        margin: 0;
    }
}

.page__footer-copy {
    width: 270px;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: grey;
    background:rgba(128,128,128,0.5);
    border-radius: 5px;
}

@media all and (min-width:768px) {
    .page__footer-copy {
        width: 666px;

    }
}
